var Constants = (function() {
    return {
        DEBUG_MODE: {{ args.debug_mode }},
        VERSION: "{{ settings.version }}"
    }
})();

if (typeof require !== "undefined") {
    exports.Constants = Constants;
}
