{
    "name": "{{settings.codename}}",
    "license": "MPL 2.0",
    "author": "{{ settings.author }}",
    "description": "{{ settings.description }}",
    "version": "{{ settings.version }}",
    "fullName": "{{ settings.label }}",
    "homepage": "{{ settings.website }}",
    "id": "{{ settings.firefox_id }}",
    "icon": "data/images/icons/default/enabled/128x128.png"
}
