{
    "name": "{{ settings.label }}",
    "version": "{{ settings.version }}",
    "manifest_version": 2,
    "description": "{{ settings.description }}",
    "background":{
        "scripts" : [
            "js/background/constants.js",
            "js/background/api/chrome.js",
            "js/background/api/firefox.js",
            "js/background/api/safari.js",
            "js/background/platforms.js",
            "js/background/main.js"],
        "persistent": false
    },
    "permissions" : [
        "tabs",
        "http://*/*",
        "https://*/*",
        "storage"
    ],
    "browser_action": {
        "default_icon": {
            "19": "images/icons/default/19x19.png",
            "38": "images/icons/default/38x38.png"
        },
        "default_title": "{{ settings.label }}"
    },
    "icons": { 
        "16": "images/icons/default/16x16.png",
        "48": "images/icons/default/48x48.png",
        "128": "images/icons/default/128x128.png"
    },
    "homepage_url" : "{{ settings.website }}",
    "content_scripts":[
        {
            "matches":["http://*/*", "https://*/*"],
            "js":[
                "js/content-scripts/constants.js",
                "js/content-scripts/api/chrome.js",
                "js/content-scripts/api/firefox.js",
                "js/content-scripts/api/safari.js",
                "js/content-scripts/platforms.js",
                "js/content-scripts/main.js"],
            "run_at":"document_idle",
            "all_frames": true
        }
    ]
}